<div class="container">
  <h3>Products Table</h3>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Category</th>
      <th>Product Name</th>
      <th>Subscription</th>
      <th>Quantity</th>
      <th>Price per product</th>
      <th>Total price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% _.each(products, function(product) { %>
    <tr data-id="<%= product.id %>" data-model="product">

      <td><%= product.id %></td>
      <td><%= product.category %></td>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.quantity %></td>
      <td><%= product.pricePer %></td>
      <td><%= product.total %></td>

      <td><a href="/product/show/<%= product.id %>" class="btn btn-sm btn-primary">Show</a></td>
      <td><a href="/product/edit/<%= product.id %>" class="btn btn-sm btn-warning">Edit</a></td>

      <td><form action="/product/destroy/<%- product.id %>" method="post">

          <input type="hidden" name="_method" value="delete"/>
          <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
          <input type="hidden" name="_csrf" value="<%= _csrf %>"/>

        </form></td>
    </tr>

    <% }) %>

  </table>

  <form action="/product/new" style="width: 15%; align: center;"  >

    <input type="submit" href="/product/new" class="btn btn-lg btn-primary btn-block" value="Add Product..."/>

  </form>
</div>






