<div class="container">
  <h3>Products Table</h3>
  <div style="width: 35%;">
    <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Product names..">
  </div>
  <br/>
  <table class="table" id="myTable">
    <tr>
      <th>#</th>
      <th>Category</th>
      <th>Product Name</th>
      <th>Subscription</th>
      <th>Quantity</th>
      <th>Price per product</th>
      <th>Total price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% _.each(products, function(product) { %>
    <tr data-id="<%= product.id %>" data-model="product">

      <td><%= product.id %></td>
      <td><%= product.category %></td>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.quantity %></td>
      <td><%= product.pricePer %></td>
      <td><%= product.total %></td>

      <td><a href="/product/show/<%= product.id %>" class="btn btn-sm btn-primary">Show</a></td>
      <td><a href="/product/edit/<%= product.id %>" class="btn btn-sm btn-warning">Edit</a></td>

      <td><form action="/product/destroy/<%- product.id %>" method="post">

          <input type="hidden" name="_method" value="delete"/>
          <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
          <input type="hidden" name="_csrf" value="<%= _csrf %>"/>

        </form></td>
    </tr>

    <% }) %>

  </table>

  <!--<form action="/product/new" style="width: 15%; align: center;"  >-->

    <!--<input type="submit" href="/product/new" class="btn btn-lg btn-primary btn-block" value="Add Product..."/>-->

  <!--</form>-->

  <div class="content">

    <div style="width: 30%;">
      <a class="btn btn-log btn-info btn-block collapsible">Add a product </a>
      <form action="/product/create" method="POST">


        <input type="text" class="form-control" placeholder="Category" name="category">

        <input type="text" class="form-control" placeholder="Product name" name="name">

        <input type="text" class="form-control" placeholder="Description" name="description">

        <input type="text" class="form-control" placeholder="Quantity" name="quantity">

        <input type="text" class="form-control" placeholder="Price per product" name="pricePer">

        <input type="text" class="form-control" placeholder="Total" name="total">


        <br />

        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create product"/>
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>

      </form>
    </div>
  </div>

</div>



</div>


<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>



<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>



