<div class="container">
<h1>Category : <%= product.category %></h1>

 <h3>Product Name : <%= product.name %></h3>
  <hr>
 <h3>Quantity : <%= product.quantity %></h3>
  <hr>
  <h3>Total Price : <%= product.total %></h3>
  <a class="btn btn-medium btn-primary" href="/product/edit/<%= product.id %>">Edit</a>
</div>
